@charset "utf-8";
/* CSS Document */
body,div,span,p,img,a,dl,dt,dd,ol,ul,li,table,tr,td,th,input { margin:0px; padding:0px; border:0px; font-size:14px;font-family: "微软雅黑", Arial, Helvetica; color:#333; line-height:24px; }
body {  background:#f5f5f5;}
dl,dt,dd,ol,ul,li { padding-left:0px; list-style:none;}
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; }
a:hover { text-decoration: none;color:#999; }
a img { border:0;}
.fl{ float:left!important;}
.fr{ float:right!important;}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; } 
.t_c { text-align:center;}
.t_r { text-align:right;}
h1 { font-size:30px; font-weight:normal; padding:0px; margin:0px;}
h2 { font-size:24px; font-weight:normal; padding:0px; margin:0px;}
h3 { font-size:20px; font-weight:normal; padding:0px; margin:0px;}
h4 { font-size:18px; font-weight:normal; padding:0px; margin:0px;}
h5 { font-size:16px; font-weight:normal; padding:0px; margin:0px;}
h6 { font-size:12px; font-weight:normal; padding:0px; margin:0px;}
.color_grey { color:#999;}
.min_height{ min-height:500px;}
.m_t_10 { margin-top:10px;}
.none { display:none }
.default { height:500px; text-align:center; font-size:16px; line-height:500px;} 


/*教师端*/
.headerbg_tea { background:#fff; height:60px; width:100%; border-bottom:1px solid #ddd;}
.header_tea { width:1200px; height:60px; margin:0 auto; }
.logo_tea { height:30px; width:124px;  padding:15px 0; float:left;}
.logo_tea img { width:100%; height:100%;}
.navbar_tea  {float:right; height:56px; line-height:60px; }
.navbar_tea li { float:left;}
.navbar_tea a { display:block; padding:0 20px; line-height:60px; text-align:center; font-size:14px; color:#333;}
.navbar_tea a:hover { color:#2490eb; }
.active_tea { display:block; color:#2490eb; text-align:center;}
.active_tea a{ color:#2490eb;}
.active_tea a:hover { color:#2490eb; }
.user_tea { float:left; margin-left:10px; padding:10px 0;}
.user_tea_img { width:30px; height:30px; float:left;border-radius:30px;-moz-border-radius:30px; -webkit-border-radius:30px;}
.user_tea_img img { width:100%; height:100%;border-radius:30px;-moz-border-radius:30px; -webkit-border-radius:30px;}
.down_tea { line-height:30px; float:left; margin-left:10px; color:#fff;}

.topbg { background:#ddd url(../images/bh.jpg) no-repeat center center; width:100%; padding:10px 0;}
.container { width:1200px; margin:0 auto;}
.top_word { width:1200px; float:left; padding:10px 0;}
.welcome { border-bottom:1px solid #daafad; color:#fff; font-size:18px; padding-bottom:10px; }
.xuehao {color:#fff; padding-top:10px; position:relative;}
.xuehao a { margin-left: 20px; background:#fff; color:#999; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; padding:3px 15px; font-style:normal; font-size:12px;}
.xuehao a:hover { background:#fff; color:#999; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;}
.xuehao span { position:absolute; right:0px; top:10px; color:#fff;}

/*通用*/
.left_nav { width:298px; margin:20px 20px 20px 0px; background:#fff; border:1px solid #ddd; float:left;}
.operate h3 { font-family: "Microsoft YaHei",微软雅黑; font-size:16px; background:#f7f7f7; height:48px; line-height:48px; padding-left:15px; }
.operate ul li { display:inline;background:#fff;}
.operate ul li a {text-decoration:none; font-size:14px; color:#555; display:block;  height:48px;  line-height:48px;}
.operate ul li a.noline { border-bottom:none; }
.operate ul li a:hover{ color:#2490eb;}
.operate ul li a.selected:hover { color:#fff; }
.operate ul li .selected { background-color:#2490eb;  background-position:270px -9px; color:#fff;}
.operate ul li .selected a{ color:#fff;}
.operate ul li .selected a:hover{ color:#fff;}
.operate ul li { border-bottom:1px dotted #d2d2d2; display:inline-block; width:100%; position: relative; min-height:48px; _height:48px; z-index: 10; zoom:1 }
.operate ul li h4 { cursor:pointer; background:url(../images/bg3.png) no-repeat 270px 22px; padding-left:30px; text-decoration:none; font-size:14px; color:#555; display:block;  line-height:48px; font-weight:normal;}
.operate ul li h5 { cursor:pointer; padding-left:30px; text-decoration:none; font-size:14px; color:#555; display:block;  line-height:48px; font-weight:normal;}
.operate ul li.noline { border-bottom:none; }
.operate ul li h4:hover ,.operate ul li h5:hove{ color:#2490eb;}
.operate ul li .on a { color:#2490eb; font-weight:bold;}
.operate ul li a:hover { color:#2490eb;}
.bg-color { background-color:#2490eb; }
.operate li .list-item { padding:5px 0; position:relative; zoom:1;border-top:1px dotted #d2d2d2;}
.operate li .list-item p { padding:5px 5px 5px 8px; background:url(../images/bg1.png) no-repeat 30px center;}
.operate li .list-item a { background:none;  border:none; color: #333333; display:block; height:24px; line-height:24px; overflow:hidden; margin: 0 -1px 0 1px; padding-left: 40px;  position: relative; text-decoration: none; font-size:12px; }
.left-sider .operate { border:1px solid #eaeaea;  zoom:1 }
.left-sider .ser-online a { margin-top:10px; height:75px; border:1px solid #eaeaea; display:block; }

.right_w { width:878px; min-height:500px; border:1px solid #ddd;background:#fff; float:right; margin:20px 0;}
.title_r { padding:20px;color:#333;border-bottom:1px solid #ddd; font-size:16px;}
.right_con { padding:0px 19px; width:840px;}
.one { border-bottom:1px solid #ddd; padding:20px 0;}
.one_img { width:248px; height:154px; float:left; border:1px solid #eee;}
.one_img img { width:100%; height:100%;}
.one_word { padding:5px 0px 5px 20px; float:left; width:560px;}
.one_word h3 { font-size:18px; color:#333; line-height:1.5em; margin-bottom:6px;}#57b02c
.one_word p { color:#999; line-height:1.5em; margin-bottom:15px;}
.botton1 { margin:10px 0;}
.botton1 a { display:block; width:80px; padding:5px 10px; background:#57b02c; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.botton1 a:hover { display:block; width:80px; padding:5px 10px; background:#62c433; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.mod {border-bottom:1px solid #ddd; padding:20px 0;}
.mod_word { padding:5px 20px; float:left;width:640px;}
.mod_word h3 { font-size:18px; color:#333; line-height:1.5em; margin-bottom:6px;}
.mod_word p { color:#999; line-height:1.5em; }
.mod_botton { float:left; width:100px; margin-top:20px;}
.mod_botton a { display:block; width:80px; padding:5px 10px; background:#57b02c; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.mod_botton a:hover { background:#62c433;}
.right_teach { width:878px; border-bottom:1px solid #ddd;}
.right_con h5 { font-size:14px; color:#999; line-height:60px;} 
.ziliao li { float:left; width:270px; margin-bottom:20px;}
.ziliao p { text-align:center; color:#999; padding:5px 10px; line-height:1.4em;}
.one_t,.two_t,.three_t,.four_t { padding:10px 5px; background-color:#f9f9f9; border:1px dashed #ddd;color:#999;}
.one_t { margin-top:20px;}
.one_t h5 { background:url(../images/ico.png) no-repeat 0px 0px; padding-left:30px; height:24px; line-height:20px;}
.two_t h5 { background:url(../images/ico.png) no-repeat 0px -24px;padding-left:30px; height:24px; line-height:20px;}
.three_t h5{ background:url(../images/ico.png) no-repeat 0px -48px;padding-left:30px; height:24px; line-height:20px;}
.four_t h5{ background:url(../images/ico.png) no-repeat 0px -72px;padding-left:30px; height:24px; line-height:20px;}
.mr_15 { margin-right:10px;}
.ziliao { padding:20px 0 0;}
.ziliao_img { width:268px; height:154px; position:relative; border:1px solid #eee;}
.ziliao_img img { width:100%; height:100%;} 
.p_shipin { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#000; background-color:rgba(0,0,0,0.4); filter:Alpha(opacity=0.4);}
.p_shipin img { width:48px; height:48px; margin:54px 100px;}
.title_r a { margin-top:-5px; background:#2490eb; float:right; display:block; color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:5px 20px; font-style:normal; margin-left:15px;}
.title_r a:hover { background:#2490eb; color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.mt_20 { padding-top:20px;}
.kaoshi {  padding-top:20px;}
.kaoshi table { background:#e7e7e7; line-height:1.5em; border-top:1px solid #ddd; border-left:1px solid #ddd;}
.kaoshi td { background:#fff; padding:10px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; text-align:center;}
.kaoshi th { background:#f3f3f3; padding:10px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.kaoshi .table_title { font-size:18px; font-weight:bold; line-height:30px; position:relative; text-align:left;}
.kaoshi .table_title span { position:absolute; right:10px; top:15px; font-weight:normal;}
.kaoshi_botton a { display:block; padding:5px 10px; width:100px; margin:0 auto; background:#57b02c; color:#fff; text-align:center;}
.kaoshi_botton a:hover {background:#62c433;}
.pre { text-align:center; margin:20px 0;}
.pre li { display:inline-block; text-align:center;}
.pre li a{ float:left; margin-right:10px; padding:5px 15px; color:#bbb; border:1px solid #e7e7e7;}
.pre li a:hover{ float:left; margin-right:10px; padding:5px 15px; color:#fff; background:#2490eb;}
.pre .active_pre a,.pre .active_pre a:hover{ float:left; margin-right:10px; padding:5px 15px; color:#fff; background:#2490eb;}

.info { padding:15px 0;}
.info em { margin:0px 10px; color:#999; font-style:normal;}
.info a { color:#999;}
.info a:hover { color:#2490eb;}
.one_top { width:1158px; border:1px solid #ddd; padding:20px; background:#fff; margin-bottom:20px;}
.one_word1 {padding:5px 0px 5px 20px; float:left; width:888px;}
.one_word1 h3 { font-size:18px; color:#333; line-height:1.5em; margin-bottom:6px;}
.one_word1 p { color:#999; line-height:1.5em; margin-bottom:15px;} 

#example-two{ width:1198px; border:1px solid #ddd; background:#fff; margin-bottom:20px; min-height:148px;}
.hide{position:absolute;top:-9999px;left:-9999px}
#example-two .nav{overflow:hidden;height:48px; line-height:48px; background:#f3f3f3;}
#example-two .nav li{float:left;bordert-top:3px solid #fff;width:100px;text-align:center; height:45px; line-height:45px;background:#f3f3f3;}
#example-two .nav li.last{margin-right:0}
#example-two .nav li a{display:block;background:#f3f3f3;color:#333;font-size:10px;text-align:center;border:0; height:45px; line-height:45px; border-top:3px solid #f3f3f3;}
#example-two li a.current,#example-two li a.current:hover{background-color:#fff !important;color:black; border-top:3px solid #2490eb; cursor:pointer;background:#fff;height:45px; line-height:45px;}
#example-two .nav li a:hover, #example-two .nav li a:focus{background:#fff; border-top:3px solid #2490eb;}
#example-two .list-wrap{ padding:20px;}
.one_mod {border-bottom:1px solid #ddd; padding:20px 0;}
.one_mod_word { padding:5px 20px; float:left;width:1010px;}
.one_mod_word h3 { font-size:18px; color:#333; line-height:1.5em; margin-bottom:6px;}
.one_mod_word p { color:#999; line-height:1.5em; }

.ex_wrap { border:1px solid #ddd; background:#fff; margin-bottom:20px; min-height:500px;}
.title_r em { font-size:14px; color:#999; font-style:normal; float:right; }
.ex_one { padding:20px; border-bottom:1px solid #ddd;}
.ex_one_title { margin-bottom:10px; line-height:24px;}
.ex_one_title em {background:#fd7700; text-align:center; margin-right:10px; font-style:normal; color:#fff; text-align:center; padding:3px 10px;} 
.ex_one_title span { margin-right:10px; }
.ex_one ul { padding-left:60px;} 
.ex_one li { margin-right:10px; line-height:30px;}
.input_radio { margin-right:5px; float:left; height:30px; margin-top:-3px;}
.input_checkbox { margin-right:5px;float:left; height:30px; margin-top:-3px;}
.da_an { float:left;}
.da_an p { margin-bottom:6px; }
.da_an_img { width:200px; margin-top:5px;}
.da_an_img img { width:100%; height:100%;}
.ex_botton { padding-left:60px; margin-top:10px; margin-right:20px; cursor:pointer;}
.ex_botton a { width:200px; text-align:center;color:#fff; background:#57b02c;  padding:5px 10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.ex_botton a:hover {background:#62c433;}
.zzjs_net { padding:10px; margin:20px 0 20px 60px; border:1px solid #ddd; background:#f3f3f3;}
.ex_botton1 {  margin-top:10px; margin-right:20px; cursor:pointer;}
.ex_botton1 a { width:200px; text-align:center;color:#fff; background:#57b02c;  padding:5px 10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.ex_botton1 a:hover {background:#62c433;}
.zzjs_net1 { padding:10px; margin:20px 0 20px 0px; border:1px solid #ddd; background:#f3f3f3;}
.title_r i { font-size:14px; color:#999; font-style:normal; margin-left:20px;}

.ex_two { padding:20px; border-bottom:1px solid #ddd;}
.ex_user { float:left; width:68px; height:68px; margin-right:20px; position:relative;}
.ex_user img { width:100%; height:100%;}
.ex_user span { position:absolute; right:-8px; top:-8px;height:20px; width:20px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background:#ff3300; display:block; text-align:center; color:#fff; line-height:20px; font-size:12px;}
.ex_word { width:870px; float:left;}
.ex_word h4 { font-size:18px; margin:8px 0;}
.ex_word em { color:#999; margin-right:20px; font-style:normal;}
.ex_score { float:left; width:100px;font-size:24px; line-height:68px; color:#ffc200;}
.ex_info { margin:10px 20px 0px 60px; padding:3px 20px;background:#eee; color:#999;}
.ex_word1 { width:970px; float:left;}
.ex_word1 h4 { font-size:18px; margin:8px 0;}
.ex_word1 em { color:#999; margin-right:20px; font-style:normal;}
.bg_grey { background:#f3f3f3;}

.input_c { padding:20px 20px 0px;}
.input_word { width:200px; float:left; text-align:right; margin-right:20px; line-height:40px;}
.input_text { width:500px; float:left;}
.input_d { width:700px; float:left;}
.k_s { line-height:40px; background:#f3f3f3; padding-left:10px;}
.duoxuan {padding:10px 0; border-bottom:1px dashed #ddd;}
.input_d ul{ float:left; width:600px; }
.input_d li { float:left; line-height:30px; margin-right:30px; display:inline-block;}
.input_check { margin-right:5px;float:left; height:24px; margin:3px 5px 3px 0;}
.quan { float:right; }
.quan a {padding:5px 10px; background:#eee; border:1px solid #ddd;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.quan a:hover { background:#ddd;}
.input_k { border:1px solid #e7e7e7; height:40px; line-height:40px; width:400px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;padding-left:10px; display:block;}
.select_k { border:1px solid #e7e7e7; height:40px; line-height:40px; width:415px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;padding-left:10px;}
.select_k option { line-height:40px;}
.botton2 { width:140px; margin-left:220px; margin-bottom:20px;}
.botton2 a { display:block; text-align:center; color:#fff; background:#57b02c;  padding:10px 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.botton2 a:hover { display:block; text-align:center; color:#fff; background:#62c433; }
.w_200 { width:200px;}
.botton3 { float:left;}
.botton3 a { display:block; text-align:center; color:#fff; background:#57b02c; padding:10px 20px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.botton3 a:hover { display:block; text-align:center; color:#fff; background:#62c433;}

.project_w { background:#fff; width:878px; margin-bottom:20px;}
.project_con { padding:0px 19px; width:840px;}
.project_teach { width:878px; border-bottom:1px solid #ddd;}
.project_con h5 { font-size:14px; color:#999; line-height:50px;} 
.title_c { text-align:center; padding:20px; font-size:16px; border-bottom:1px solid #ddd;}
.title_c span { float:right; color:#999;}
.title_c em { float:left; font-style:normal; color:#999;}
.input_c1 { padding:30px 0 0px 20px;}
.code { width:120px; height:40px; float:left;}
.code img { width:100%; height:100%;}
.input_k1 { border:1px solid #e7e7e7; height:40px; line-height:40px; width:320px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;padding-left:10px; display:block; float:left; margin-right:20px;}
.step_w { padding:30px 0; width:600px; margin:0 auto;}
.q_con { border-bottom:1px solid #ddd;padding:20px;}
.q_top { margin-bottom:5px;}
.q_word {float:left;}
.q_word h4 { font-size:18px; margin:8px 0;}
.q_word em { color:#999; margin-right:20px; font-style:normal;}
.q_answer { line-height:24px; padding-left:88px; } 
.q_shuru { padding-left:88px; line-height:24px; margin-top:20px;}
.textarea_q { width:95%; height:50px; border:1px solid #ddd; padding:2%; line-height:24px; background:#f3f3f3;}
.q_shuru1 { padding-left:128px; line-height:24px; margin-top:20px;}

.q_reply { padding-left:88px; margin:20px 0px 0px;}
.q_reply_top { margin-bottom:5px;}
.q_reply_user { width:30px; height:30px; float:left;}
.q_reply_user img { width:100%; height:100%;}
.q_reply_title {font-size:16px; line-height:30px;float:left; margin-left:10px;}
.q_reply_word {line-height:24px; padding-left:40px; color:#999;}
.re_botton,.rep_botton { float:right; width:100px; margin-top:20px;}
.re_botton a { display:block; width:80px; padding:5px 10px; background:#ddd; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.rep_botton a { display:block; width:80px; padding:5px 10px; background:#57b02c; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.rep_botton a:hover { background:#62c433;}
.stu_top { padding:20px 0 0;}
.stu_botton { width:160px; float:left; }
.stu_botton a { display:block; background:#57b02c;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;height:30px; line-height:30px; padding:5px 10px; text-align:center; color:#fff; margin-right:20px;}
.stu_botton a:hover { background:#62c433;}
.stu_botton1 { width:160px; float:left; }
.stu_botton1 a { display:block; background:#fd7700;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;height:30px; line-height:30px; padding:5px 10px; text-align:center; color:#fff; margin-right:20px;}
.stu_botton1 a:hover { background:#ee7000;}
.stu_top_right { float:right;}
.input_stu { width:250px; height:30px; line-height:30px; border:1px solid #ddd; float:left; margin-right:20px; padding:5px 10px;}
.tijiao { width:100px; float:left; height:40px; line-height:40px; background:#2490eb; color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.stu_con { background:#fff; border:1px solid #ddd; margin:20px 0;} 
.stu_con table { margin:0px; padding:0px;}
.stu_con td { border-left:1px solid #ddd; border-bottom:1px solid #ddd; padding:7px 10px; text-align:center; color:#666;}
.stu_con th { background:#f3f3f3;border-left:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px;text-align:center;}
.stu_con table a { margin:0px 10px; color:#2490eb;}
.stu_con table a:hover { margin:0px 10px; color:#999;}
.stu_con table em { color:#ccc; font-style:normal;}

.input_text em { margin-right:50px; font-style:normal; margin-left:10px; line-height:40px;}
.textarea_c { width:380px; height:100px; border:1px solid #ddd; padding:10px; line-height:24px;}

.bb_none { border-bottom:none;}
.mt_none { margin-top:0px;}

/*学生端*/
.headerbg_stu { background:#2490eb; height:60px; width:100%;}
.header_stu { width:1200px; height:60px; margin:0 auto; }
.logo_stu { height:30px; width:124px;  padding:15px 0; float:left;}
.logo_stu img { width:100%; height:100%;}
.navbar_stu  {float:right; height:60px; line-height:60px; }
.navbar_stu li { float:left;}
.navbar_stu a { display:block; padding:0 20px; line-height:60px; text-align:center; font-size:14px; color:#fff;}
.navbar_stu a:hover {background:#1f88e0; }
.active_stu { display:block; background:#1f88e0; text-align:center;}
.active_stu a{ color:#fff; background:#1f88e0;}
.active_stu a:hover { color:#fff;background:#1f88e0;}

.left_side { width:300px;margin:20px 20px 20px 0px; float:left;}
.side_user { border:1px solid #ddd; padding:14px;background:#fff; margin-bottom:15px;}
.side_user_img { float:left; width:60px; height:60px; margin-right:10px;}
.side_user_img img { width:100%; height:100%;}
.side_user_word { float:left; width:190px;}
.side_user_word h4 { font-size:16px; color:#2490eb; line-height:1.5em; margin-bottom:6px; }
.side_user_word p { color:#999;font-size:12px; line-height:1.5em;}
.side_tongdao { border:1px solid #ddd; width:300px; background:#fff; margin-bottom:20px;}
.tongdao_t { height:40px; line-height:40px; border-bottom:1px solid #ddd; padding-left:15px;}
.tongdao_ul { padding:20px; margin:0px;}
.tongdao_li1,.tongdao_li2 { height:40px; margin-bottom:10px; width:100%;}
.tongdao_li1 a { display:block; height:30pxl; line-height:30px; padding:5px 10px;  background:#fd7700;  color:#fff; text-align:center;}
.tongdao_li1 a:hover { display:block; height:30pxl; line-height:30px; padding:5px 10px; background:#ee7000;}
.tongdao_li2 a { display:block; height:30pxl; line-height:30px; padding:5px 10px; background:#57b02c; color:#fff; text-align:center;}
.tongdao_li2 a:hover { display:block; background:#62c433;}
.stu_w { width:880px; float:right; margin:20px 0;}
.stu_wrap {border:1px solid #ddd; margin-bottom:20px; background:#fff;}
.kaoshi1 { background:#f3f3f3; padding:20px; width:798px; margin:20px;}
.kaoshi_left { margin-right:15px; float:left; }
.kaoshi_left h3 { font-size:18px; margin-bottom:5px;}
.kaoshi_left em { font-size:14px; margin-right:30px; font-style:normal; color:#999;}
.kaoshi_right { float:right; width: 100px; height:40px;}
.kaoshi_right a { display:block; background:#57b02c; color:#fff; height:30px; line-height:30px; padding:5px 10px; text-align:center;}
.kaoshi_right a:hover { background:#62c433;}
.title_d { padding:20px; font-size:16px; border-bottom:1px solid #ddd;}
.title_d a {color:#999; font-style:normal; display:inline-block; background:none; text-align:right; line-height:30px; float:right;}
.title_d a:hover { color:#2490eb;font-style:normal; display:inline-block; background:none; text-align:right; line-height:30px;}
.stu_score { float:right;font-size:24px; color:#ffc200;}

.title_test { padding:20px;color:#333;border-bottom:1px solid #ddd; font-size:16px; position:relative; }
.time_s { position:absolute; right:15px; top:20px; font-style:normal;color:#999;}
.time_s i {font-size:14px; font-style:normal; color:#999; margin-right:30px; font-style:normal;}
.time_s em { margin:0 5px; padding:2px 10px; background:#ffc200; color:#fff; font-style:normal;}
.test_title { background:#f3f3f3; height:30px; line-height:30px; padding:5px 10px; margin-bottom:20px; font-size:16px;}
.test_title em { font-size:14px; font-style:normal; color:#999; float:right;} 
.test_b { padding:20px 0;}
.test_botton,.test_botton1 { margin-top:10px; margin-right:20px; float:left;}
.test_botton a { text-align:center;color:#fff; background:#57b02c;  padding:10px 50px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.test_botton a:hover { background:#62c433;}
.test_botton1 a { text-align:center;color:#fff; background:#ccc;  padding:10px 50px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.test_botton1 a:hover { background:#62c433;}

.test_botton2 { margin-top:10px; margin-right:20px; float:left;}
.test_botton2 a { text-align:center;color:#fff; background:#ffc200;  padding:10px 50px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.default_test { padding:100px 0; text-align:center; font-size:16px; line-height:340px;} 
.default_test_img { width:88px; height:88px; margin:0 auto 10px;}
.default_test_img img { width:100%; height:100%;}
.default_botton { margin:20px auto 10px;}
.default_botton a { text-align:center;color:#fff; background:#57b02c; padding:10px 20px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.default_botton a:hover { background:#62c433;}
.c_info { font-size:14px; color:#999; padding-left:220px; }


/*前台*/
.top_bg { width:100%; height:40px; background:#f3f3f3;}
.top_con { width:1200px; margin:0 auto; }
.top_nav { float:left; width:550px; line-height:40px;}
.top_nav a { color:#2490eb; margin:0 3px;}
.top_nav a:hover { color:#1f88e0;}
.search { padding:5px 0;width:648px; height:30px; float:left;} 
.input_search { border:1px solid #e7e7e7; height:28px; line-height:28px; width:200px;padding-left:10px; display:block; float:right; font-size:12px;}
.search_botton { float:right;}
.search_botton a { display:block; text-align:center; color:#fff; background:#57b02c; padding:6px 10px; line-height:18px; height:18px; font-size:12px;}
.search_botton a:hover {background:#62c433;}

.headerbg { width:100%; height:100px; background:#fff;}
.header { width:1200px; height:100px; margin:0 auto; }
.logo { height:40px; width:165px;  padding:30px 0; float:left;}
.logo_info { float:left; font-size:22px; margin-left:20px; line-height:40px; color:#666; padding:30px 0;}
.navbar  {float:right; height:40px; padding:30px 0;}
.navbar li { float:left; padding:5px 10px;}
.navbar li.em_line { float:left; width:1px; margin:0 10px; font-size:14px; color:#ccc;}
.navbar a,.navbar a:hover { display:block; padding:0 5px; text-align:center; }
.navbar a h3 { font-size:15px; color:#333; margin-bottom:3px; text-align:center; line-height:1em;}
.navbar a p { font-size:12px; color:#999;text-align:center; line-height:1em;}
.navbar a:hover h3 {color:#2490eb;}
.navbar a:hover p { color:#2490eb;}
.active_index { display:block; text-align:center; border-bottom:2px solid #2490eb;}
.active_index a h3,.active a:hover h3{ color:#333; }
.active_index a p,.active a:hover p{ color:#999; }
.bg_white  { background:#fff;}

.ct-banner{width:100%;height:550px;margin:0 auto;overflow:hidden;}
.ct-focusbox{height:550px;position:relative;overflow:hidden;}
.ct-focusimg{height:550px;overflow:hidden;}
.ct-fimglist{position:relative;}
.ct-fimglist img{display:block;cursor:pointer;}
.ct-fimglist li{width:100%; height:550px;float:left;}
.ct-banner01{background:url(../images/ct-banner01.png) center;}
.ct-banner02{background:url(../images/ct-banner02.png) center;}
.ct-banner03{background:url(../images/ct-banner03.png) center;}
.ct-banner04{background:url(../images/ct-banner04.png) center;}
.ct-focustool{overflow:hidden;position:relative;top:-97px;height:97px;background:url(../images/bg_touming.png) repeat-x;}
.ct-ftoollist{position:relative;margin-left:282px;}
.ct-ftoollist li{width:121px;height:54px;float:left;cursor:pointer; margin-left:10px;margin-top:21px;}
.ct-ftoollist .on a{width:121px;height:54px;display:block;margin-right:-4px;z-index:100;top:-5px;border:2px solid #FFF;}
.w1100 { width:1100px !important;margin:0 auto;}

.scroll-outer {height:480px; background:#fff;}
#scroll{width:1200px;margin:0 auto;padding-top:20px;font-family:"Microsoft Yahei";}
#scroll .owl-wrapper-outer{margin:0 auto;}
#scroll .item { position:relative;width:275px;height:300px;margin:0 auto;background-color:#fff;overflow:hidden; border:1px solid #ddd;}
#scroll .item img { width:275px; height:200px;}
#scroll .shd{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.15);}
#scroll .shd a{display:block;width:275px;height:200px;*background-image:url(about:blank);background-image:url(about:blank)\0;}
#scroll .txt{position:absolute;left:0;bottom:0;width:251px;height:100px;padding:0 12px;color:#999; background-color:#fff\9;background-color:rgba(255, 255, 255, 1);}
#scroll h3{width:251px;height:25px;margin-bottom:6px;padding-top:6px;font:700 18px/25px arial,"Microsoft Yahei";overflow:hidden;}
#scroll h3 a{color:#333;text-decoration:none;}
#scroll h3 a:hover{color:#2490eb;}
#scroll p{line-height:18px;font-size:14px; color:#999;}
#scroll .item:hover .shd{background-color:rgba(0, 0, 0, 0);}
#scroll .item:hover .txt{background-color:#fff\9;background-color:rgba(255, 255, 255, 1);}
.owl-theme .owl-controls .owl-buttons div{position:absolute;top:130px;width:30px;height:60px;margin:0;padding:0;border-radius:0;font:60px/60px "宋体";overflow:hidden;_display:none;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left:-40px;}
.owl-theme .owl-controls .owl-buttons .owl-next{right:-40px;}
.owl-theme .owl-controls .owl-buttons .owl-prev:before{content:"<";}
.owl-theme .owl-controls .owl-buttons .owl-next:before{content:">";}
.title { text-align:center;width:1200px; margin:0 auto; padding:40px 0 10px;}
.title h1 { font-weight:bold; margin-bottom:5px;text-align:center;}
.title h6 { display:inline-block; color:#bbb; text-align:center; border-bottom:1px solid #e7e7e7;}

.wrapper1 { background:#f9f9f9; width:100%;}
.section1 {text-align:center;}
.s1_con { margin-top:20px; text-align:left; padding-bottom:10px;}
.s1_left { width:550px; margin-right:100px; float:left;}
.s1_right { width:550px; float:left;}
.news_list { margin-bottom:30px;}
.date { margin-right:10px; float:left;}
.month { float:left;}
.month  span { background:#ccc; text-align:center; font-size:12px; color:#fff; width:20px; height:17px; line-height:17px; display:block; margin-bottom:1px;}
.day  { float:left; width:36px; height:36px; line-height:36px; background:#ccc; text-align:center; font-size:16px; color:#fff; margin-left:1px;}
.news_index_con { float:left;}
.news_index_img { width:110px; height:70px; float:left; margin-right:10px; border:1px solid #eee;}
.news_index_img img { width:100%; height:100%;}
.news_index_word { width:360px; float:left;}
.news_index_word p { color:#999; font-size:14px; line-height:1.4em; margin-top:5px;}

.system { background:#2490eb; height:480px;width:100%; background:url(../images/bg2.jpg) no-repeat center center;}
.system_con{ width:1200px; margin:0 auto;}
.system_word { width:470px; float:right; padding:70px 0 70px 60px;}
.system_word h1 { color:#333; margin-bottom:30px; font-weight:bold;}
.sys_one { padding:10px 0px 10px 70px; background:url(../images/ico1.png) no-repeat left 15px;}
.sys_two { padding:10px 0px 10px 70px; background:url(../images/ico2.png) no-repeat left 15px;}
.sys_one h3,.sys_two h3 { color:#333;font-weight:bold; font-size:18px;}
.sys_one p,.sys_two p { color:#999; margin-bottom:20px;}
.botton4 a { display:block; width:150px; padding:10px 20px; background:#ff9900; color:#fff; font-size:18px; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.botton4 a:hover {  background:#eb8e02;}

.s2_con { width:1200px; margin:0 auto; padding-bottom:30px;}
.mr_frbox{ padding:10px 0; width:1200px;}
.mr_frBtnL{ float:left; margin:115px 30px 0px 0px;cursor:pointer;display:inline;}
.mr_frUl{ float:left; height:330px; width:1100px; margin:0 auto;}
.mr_frBtnR{ float:right;margin-top:115px;cursor:pointer;}
.mr_frUl ul { height:300px;}
.mr_frUl ul li{ display:block;float:left;width:190px;margin-right:30px;}
.mr_frUl ul li p { display:block; margin-bottom:18px; border:1px solid #ddd; background:#fff;}
.mr_frUl ul li img{width:100%; height:100%; }

/*news*/
.banner_news { width:100%; height:360px; background:url(../images/banner_n.jpg) no-repeat center center;}
.news { border-bottom:1px solid #ddd; padding:30px 0;}
.news_img { width:250px; height:156px; float:left;}
.news_img img { width:100%; height:100%;}
.news_word { padding:5px 0px 5px 20px; float:left; width:930px;}
.news_word h3 { font-size:18px; color:#333; line-height:1.5em; margin-bottom:6px;}
.news_word p { color:#666; line-height:1.5em; margin-bottom:10px;}
.news_botton { float:right; padding-right:20px;}
.news_botton a { display:block; width:80px; padding:5px 10px; background:#57b02c; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.news_botton a:hover { display:block; width:80px; padding:5px 10px;  background:#62c433; color:#fff; text-align:center;}
.time { margin-bottom:6px; color:#999;}
.bt1 { border-top:1px solid #ddd;}
.news_title { padding:30px 0 20px; border-bottom:1px solid #ddd;}
.news_title h2 { font-size:24px; margin-bottom:10px; text-align:center;}
.news_title p { color:#999; text-align:center;}
.news_con { padding:30px 0;}
.news_con p { text-indent:2em; color:#666; margin-bottom:20px;}
.news_con_img { text-align:center;}

.banner_industry { width:100%; height:360px; background:url(../images/banner_i.jpg) no-repeat center center;}
.tab_title { height:59px;border-bottom:1px solid #ddd;}
.tab_title ul { width:330px; margin:0 auto;}
.tab_title li { margin:0 10px; float:left; line-height:59px; height:59px;}
.tab_title a { display:block; padding:0 10px; line-height:56px; border-bottom:3px solid #fff; color:#333; line-height:56px; font-size:16px;}
.tab_title a:hover { line-height:56px; padding:0 10px; border-bottom:3px solid #2490eb; color:#2490eb;line-height:56px;font-size:16px;}
.tab_hot a,.tab_hot a:hover { line-height:56px; border-bottom:3px solid #2490eb; color:#2490eb;line-height:56px; padding:0 10px;font-size:16px;}

/*course*/
.banner_course { width:100%; height:360px; background:url(../images/banner_c.jpg) no-repeat center center;}
.re_one { width:285px; border:1px solid #ddd; margin-bottom:30px; float:left;}
.re_one_right { margin-right:17px;}
.re_one_img { width:285px; height:150px;}
.re_one_img img { width:100%; height:100%;}
.re_one_word { padding:10px;}
.re_one_word h3 { font-size:20px; margin-bottom:5px;}
.re_one_word p { color:#999; line-height:1.5em;}

/*professional_resources*/
.banner_professional { width:100%; height:360px; background:url(../images/banner_p.jpg) no-repeat center center;}
.two_con { padding:30px 0;}
.re_two { width:383px; border:1px solid #ddd; margin-bottom:30px; float:left;}
.re_right { margin-right:22px;}
.re_two_img { width:383px; height:250px;}
.re_two_img img { width:100%; height:100%;}
.re_two_word { padding:20px 15px;}
.re_two_word h3 { font-size:20px; margin-bottom:5px;}
.re_two_word p { color:#999; line-height:1.5em;}
.more_botton { margin:10px auto; width:150px;}
.more_botton a { display:block; padding:10px; background:#57b02c; color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.more_botton a:hover {background:#62c433;}
.pb_20 { padding:20px 0;}

/*about*/
.banner_about { width:100%; height:360px; background:url(../images/banner_a.jpg) no-repeat center center;}
.s_about_left { width:500px; float:left; margin-right:50px; padding:50px 0;}
.s_about_left h1 { font-weight:bold; margin-bottom:5px;text-align:right; color:#333;}
.s_about_left h6 { display:block; color:#999; text-align:right; margin-bottom:20px;}
.s_about_right { width:650px; float:left; padding:50px 0;}
.s_about_right img { width:100%; height:100%;}
.wrapper2 { background:#555; width:100%; color:#fff;}
.s_about { padding:30px 0 50px; width:1200px;}
.s_about_one { width:340px; float:left;}
.s_mr { margin-right:40px;}
.s_about_one h3 { font-size:18px; color:#fff; margin-bottom:10px;}
.s_about_one p { color:#bbb;}
.s_title { text-align:center;width:1200px; margin:0 auto; padding:40px 0 10px;}
.s_title h1 { font-weight:bold; margin-bottom:5px;text-align:center; color:#fff;}
.s_title h6 { display:inline-block; color:#fff; text-align:center; border-bottom:1px solid #e7e7e7;}
.s_about li { width:198px; border:1px solid #ddd; padding:10px; float:left; margin-bottom:10px;}
.s_about li img { width:198px; height:280px;}
.mr_li { margin-right:20px;}


/*登录*/
.b_top { border-top:1px solid #ddd;} 
.login_img { float:left; width:635px; padding:60px 0;}
.login { width:360px;border:1px solid #ddd; margin:60px 50px 50px 50px; float:left;}
.tab {background:#fff;}
.tab-hd {overflow:hidden; zoom:1; font-family:"微软雅黑"; height:60px;}
.tab-hd li{ float:left; color:#505050; text-align:center; cursor:pointer; background:#fff; width:180px; line-height:57px;border-bottom:1px solid #ddd; font-size:16px;}
.tab-hd li.active{ height:57px; line-height:57px; border-bottom:5px solid #2490eb; font-size:16px;}
.tab-bd { padding:20px; width:320px; margin-top:10px;}
.tab-bd li{ display:none; border-top:none;}
.botton_login { height:48px; width:100%;margin-bottom:10px;}
.botton_login a {display:block; line-height:48px; font-size:18px; text-align:center; background:#2490eb; color:#fff;  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px;}
.botton_login a:hover { display:block; background:#fff; background:#1f88e0;}
.l_input { width:280px; margin-bottom:25px;}
.input_txt { height:48px; line-height:48px; border:1px solid #ddd; border-radius:5px; width:278px; padding-left:40px;}
.account { background:url(../images/login02.png) no-repeat 7px center; background-color:#fff;}
.pw { background:url(../images/login01.png) no-repeat 7px center;background-color:#fff;}
.input_text1 { height:38px; border:1px solid #ddd; padding-left:10px; color:#666; margin-bottom:10px;}

/*footer*/
.bg_s5 { background:#f1f1f1; width:100%;}
.section5 {padding:30px 0;}
.title_s5 { background:url(../images/line.png) no-repeat left center;  padding-left:15px; font-size:18px; line-height:18px;color:#333;}
.s5_left { margin-right:100px; width:410px; float:left;}
.section5 h6 { color:#bbb; padding-left:15px;}
.s5_left p { padding-left:15px; color:#333; margin:20px 0 10px;}
.s5_left ul { padding-left:15px;}
.s5_left li { padding-left:24px; color:#666; margin-bottom:20px; line-height:1.2em;}
.ic_ad { background:url(../images/ic_ad.png) no-repeat left 2px; background-size:16px 16px;}
.ic_email { background:url(../images/ic_email.png) no-repeat left 2px; background-size:16px 16px;}
.ic_tel { background:url(../images/ic_tel.png) no-repeat left 2px; background-size:16px 16px;}
.s5_center { margin-right:110px; width:180px; float:left;}
.s5_center p { text-align:center; color:#999;}
.erweima { margin:20px 0 0 20px;; width:144px; height:144px;}
.erweima img { width:100%; height:100%;}
.s5_right {width:400px; float:left;}
.s5_label { padding-left:15px; padding-top:20px;}
.s5_text { height:28px; line-height:28px; width:340px; margin-bottom:10px; padding:0 10px; background:#e3e3e3;}
.s5_textarea { line-height:24px; width:340px; height:40px; color:#999; padding: 0 10px; font-family:"微软雅黑"; background:#e3e3e3; border:1px solid #e3e3e3;}
.s5_botton { width:80px; float:right; margin-right:24px; color:#fff; background:#2490eb; height:36px; line-height:36px; text-align:center;}

.footer { background:#f1f1f1; color:#999; width:100%;}
.footer_con { width:1200px; margin:0 auto; padding:5px 0;}
.footer .footer_nav { text-align:center; padding-top:10px; text-align:center;  margin:0 auto; }
.footer .footer_nav li { display:inline-block; padding:0 20px; border-right:1px solid #999;color:#999; text-align:center; height:14px; line-height:14px;  font-size:12px;}
.footer p { color:#999; text-align:center; margin:0px; padding-bottom:5px;  font-size:12px;}
.footer a,footer a:hover { color:#999; line-height:14px;}




